/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	margin: 0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
 
header{
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

header h1 {
  color: #6F7F7A;
  font-size: 80px;
  font-family: 'Baskerville', serif;
  padding: 0 0 5px;
  margin: 0 0 5px;
  font-weight: normal;
}

main img {
	border: 5px rgb(152,173,166) solid;
}

h2 {
  color: #6F7F7A;
  font-weight: bold;
  font-size: 2em;
}

p  {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

.Jewelry a {
  color: #1783bb;
  text-decoration: none;
}

section {
  margin-bottom: 20px;
}

section img {
  padding: 1px;
  border: 5px solid #CCC;
}

section img:hover {
  border: 5px solid #6F7F7A;
  padding: 1px;
}

footer {
  text-align: right;
}

footer p {
  margin-bottom: 20px;
  color: #555;
  font-size: 0.8em;
}
